
.navbar-light .navbar-brand {
    color: white;                           /* contrast to secondary colour */
}

#topBar {
    background-color: purple !important;
    color: white; 
}

.btn-primary, .btn {
    color: rgb(255, 255, 255);                           /* contrast to secondary colour */
    font-size: 150%;
    background-color:rgb(0, 185, 0);                /* some secondary colour */
    border-color: #000000;                    /* some accent colour */
    border-width: thin;
}

body {
    background-color: #F6FFF8;                /* some primary colour */
}

.navbar-brand{
    font-family: 'Itim', cursive;
    font-size: 2.25rem;
    color: white;
}
/* footer css starts here*/
footer{
    display: grid;
    grid-template-rows: 40% 40% 20%;
}
#center-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#one-sentence, #follow-us, #contact-info{
    text-align: center;
}
#logo-img{
    height:33%;
    width: 33%;
    margin:0;
}

